---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
    <!-- Post Container -->
          <div class="
              col-lg-8 col-lg-offset-1
              col-md-8 col-md-offset-1
              col-sm-12
              col-xs-12
              post-container
          ">
          
              <%- page.content || body %>

          </div>

        <%- partial('_partial/sidebar') %>
    </div>
</div>
<!-- Main Content -->

<style>
  .contact-container {
    background-color: #0085a1a0;
    margin-top: 50px;
    padding: 30px 0;
    color: white;
  }
  .gmap {
    height: 300px;
    width: 100%;
    border: 0;
    background-color: #00000040;
  }
  .contact-row {
    position: relative;
  }
</style>
