<!-- Short About -->
<section class="visible-md visible-lg">
    <h5><a href="<%= config.root %>about/">OVER MEZELF</a></h5>
    <div class="short-about">

        <% if(config['sidebar-avatar']) { %>
            <img id = "avatar_pic" src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
        <% } %>

        <% if(config['sidebar-about-description']) { %>
            <p><%= config['sidebar-about-description'] %></p>
        <% }%>
    </div>
</section>
